.learn{
  color:black ;
}
body {
  text-align: center;
  background: url(../img/bp_background_2_blue1.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
  width: auto;
}
.bord{
  text-align: center;
  margin: auto;
  margin-top: 0px;
background-color: #F4ECF7;
padding: 33px 33px ;
padding-top: 0px;
border-style: solid;
color: #515A5A;
width: 434px;
height: 115px;
font-size: 21px;
font-style: italic;
}
.larg{
  text-align: center;
  margin: auto;
  background-color: #F4ECF7;
  padding: 15px 50px 10px;
  border-style: solid;
  color: #515A5A;
  width: 400px;
  height: 410px;
  font-style: italic;
  line-height: 40px;
}
.pass{
  padding: 16px 16px 8px;
  width: 350px;
  height: 20px;
  font-size: 18px;

}
.signin{
  border-style: solid;
  color: white;
  background-color: #BB8FCE;
  padding: 16px 157px 8px;
  padding-top: 10px;
  padding-bottom: 14px;
  font-weight: bold;
  font-size: 20px


}
p{
  text-align: left;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.GitHub{
  background-color: white;
  color: #BB8FCE;
  border-style: solid;
  border-color: #BB8FCE;
  padding: 16px 90px 8px;
  padding-top: 18px;
  padding-bottom: 14px;
  font-weight: bold;
  font-size: 20px;
}
